<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Aura-OS"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- Boot / Welcome Screen -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Dashboard Screen -->
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="false" />

        <!-- Hardware & Radios Console Screen -->
        <activity
            android:name=".ui.HardwareConsoleActivity"
            android:exported="false" />

    </application>

</manifest>
